<head>
    <title>Login V19</title>
    <meta charset="UTF-8">
</head>
<body class="vsc-initialized" cz-shortcut-listen="true">
    <div class="limiter">
        <div class="container-login100">
            <div class="wrap-login100 p-l-55 p-r-55 p-t-65 p-b-50">
                <form class="login100-form validate-form" action="/Account/ResetPass" method="post">
                    <span class="login100-form-title p-b-33">
                        Account Login
                    </span>

                    <div class="wrap-input100 rs1 validate-input" data-validate="Code is required">
                        <input class="input100" type="text" name="Code" placeholder="Code">
                        <span class="focus-input100-1"></span>
                        <span class="focus-input100-2"></span>
                    </div>
                    
                    <div class="wrap-input100 rs1 validate-input" data-validate="Password is required">
                        <input class="input100" type="password" name="NewPassword" placeholder="New Password">
                        <span class="focus-input100-1"></span>
                        <span class="focus-input100-2"></span>
                    </div>
                    <div class="container-login100-form-btn m-t-20">
                        <button class="login100-form-btn" type="submit">
                            Reset
                        </button>
                    </div>
                    <div>
                        <span>
                            Forgot
                        </span>
                        <a href="#">
                            Username / Password?
                        </a>
                    </div>
                    <div>
                        <span>
                            Create an account?
                        </span>
                        <a href="/Account/SignUp">
                            Sign up
                        </a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>